.blockRow {
  display: flex;
}

.blockW,
.blockB {
  width: 64px;
  height: 64px;
  font-size: 48px;
  text-align: center;
}

.blockW {
  background-color: white;
}

.blockB {
  background-color: darkgray;
}

.tile {
  margin: 1px;
}

.tile.selected {
  background-color: red;
}

.tile.possible {
  background-color: lightblue;
}
